.input-container {
  margin-bottom: 10px;
  font-size: small;
}

.input-container > textarea {
  height: 100px;
}

.label-container {
  margin-bottom: 5px;
  display: flex;
}

.label {
  flex: 1;
}

.error {
  color: red;
}

.hidden {
  display: none;
}
