.listings {
  position: relative;
  display: flex;
  height: 100%;
}

.listings > ul {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  list-style-type: none;
  padding: 0;
}
