.container {
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.input {
  width: 98%;
}

.select {
  width: 100%;
}

.date {
  width: 99%;
}

.top {
  display: flex;
}

.spacer {
  flex: 1;
}

.button {
  width: 100%;
  cursor: pointer;
  height: 40px;
  border: none;
  box-shadow: none;
  color: white;
  background-color: rgba(46, 164, 79, 1);
}

.button:disabled {
  background-color: rgba(46, 164, 79, 0.3);
}
