.content {
  text-align: center;
}

.button-container {
  display: flex;
  margin: 30px 20% 30px 20%;
  justify-content: center;
}

.spacer {
  width: 10%;
}

.button {
  width: 40%;
  color: white;
  border: none;
  cursor: pointer;
}

.proceed {
  background-color: rgb(200, 0, 0);
}

.proceed:hover {
  background-color: rgba(200, 0, 0, 0.4);
}

.cancel {
  background-color: grey;
}

.cancel:hover {
  background-color: rgba(128, 128, 128, 0.4);
}
